/* 
Project Name: Sharan - Premium NextJS Starter Kit 
Project URL: sharan-ui.vercel.app 
*/


:root {
  --primary: #000;
  --secondary: #000;
  --text-color: #000;
  --background-color: #000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


